docs/html
docs/doxygen_sqlite3.db
docs/doxygen.conf
*.o
*.so
test/test_*.out
test/test_i8

.cproject
.project
a.*
compile_voba_header.sh
depend.inc
docs/voba_str.tag
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
docs/voba_value.tag
